.DS_Store
.eggs
__pycache__/
/code/data.db
/code/run.spec
/code/build/*
/code/dist/*
/code/impulse_dist/*
/code/assets/
/code/data/*
/code/myenv/*
/code/.*
/code/impulse.log
/code/last_run_log
/Impulse.dmg
codesign.txt
impulse_api_token.txt

