.DS_Store
.eggs
__pycache__/
/code/data.db
/code/run.spec
/code/build/*
/code/dist/impulse/
/code/impulse_dist/*
/code/assets/
/code/data/*
/code/myenv/*
/code/.*
/code/impulse.log
/code/impulse_last_run.log
/code/Impulse.dmg
codesign.txt
codesign.log
codesign.py
appdevcert.p12
impulse_api_token.txt

