.DS_Store
.eggs
__pycache__/

/code/build/*
/code/dist/*
/code/impulse/*
/code/assets/
/code/data/*
/code/myenv/*
/code/.*
/code/impulse.log
/code/impulse_last_run.log

codesign.txt
codesign.log
codesign.py
appdevcert.p12
impulse_api_token.txt
Developer ID Application/ Steven Sesselmann (4JA6UDV8XS).cer
notarize_dmg.txt
appfixer.py
appsigner.py
appsimplesign.py
apptodmg.py
entitlements.py
notarize.txt
sign-tool.log
simplesign.py
appsimplesigndmg.py
entitlements.plist
createdmg.py


*.dmg
*.cer
*.db