chardet==5.2.0
dash==2.14.2
dash_bootstrap_components==2.0.1
dash_daq==3.0.3
numpy==2.2.5
pandas==2.2.3
pyaudio==0.2.14
pyserial==3.5
scipy==1.15.2
serial==0.0.97
wheel==0.45.1
pillow==11.2.1
setuptools==70.0.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==20.25.3