
h1 {
	color:black;
	text-align:center;
	font-family: Times New Roman;
	font-size:28px;
}

h2 {
	color:black;
	text-align:center;
	font-family: Times New Roman;
	font-size:20px;
}

h3 {
	color:black;
	text-align:left;
	font-family: Times New Roman;
	font-size:18px;
}

p {
	text-align:left;
}

img {
	width:100%;
	height: auto;
}

body {
	background-image: url("sunburst.png");
}

Input {
	text-align:left;
	color:black;
	font-size: 10px;
	font-family: Arial;
	width: 95%;
}


.rc-slider-track {
  background-color: purple;
}

.rc-slider-dot-active {  
  border-color: lightgreen;
  border: solid 2px lightgreen;
}

.rc-slider-handle {
  background-color: white;
  border-color: purple;
}

.rc-slider-handle:hover {
  border-color: lightgreen;
}

.rc-slider-handle-active:active {
  border-color: lightgreen;
}

.my_inputs {
	width:400px;
	margin-bottom: 10px;
	
}

.my_checkbox {
	display:inline-block;
	margin-left: 20px;
}

.dropdown {
	font-family:arial;
	font-size: 12px;
	Width:95%;
	color:black;
}

.action_button {
	background-color:purple;
	border-radius:6px;
	color:white;
	margin-top:10px;
	font-family: Arial;
	font-size: 12px;
	width:80%;
}

.action_button:hover {
	background-color: blue;
}

.tab3-split-div {
	width: 50%;
	height:900px;
	align-items: center;
	float:left;
	padding:20px;
	
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 100%;
	height:77%;
	gap: 10px;
}

.t3subdiv {
	background-color: white;
	align-items: center;
	text-align:center;
	padding:20px;
}

#update_calib_button,
#notes-warning {
	visibility: hidden;
}

#t3footer {
	width:100%;
	height:Auto;
}

#chart-3d {
	height:100%;
}

#chartbox{
	margin:10px;
	height:90%;
	width:100%;
	background-color:white;
}

#tabs {
	background-color:white;
	font-family:Times New Roman;
	width:100%;
}

#confirm-button, 
#confirm-publish,
#confirm-overwrite,
#confirm-overwrite-tab3 {
	margin:10px;
	color:white;
	font-weight: bold;
	background-color:green;
	border-radius: 5px;
}

#cancel-button,
#cancel-publish,
#cancel-overwrite,
#cancel-overwrite-tab3 {
	margin:10px;
	color:white;
	font-weight: bold;
	background-color:red;
	border-radius: 5px;
}

#notes {
	height:50px;
}

#notes-warning {
	font-size:10px;  
	text-align:left;
	width:300px;
}

#firstrow {
	width:50%;
	float:left;
}

#heading {
	width:100%;
	Height:70px;
	font-family:Times New Roman;
	color:black;
	text-align: center;
	float:left;
	padding-bottom:20px;
}

#tab0_frame {
	flex-direction: row;
	width:90%;
	margin: auto;
	justify-content: : center;
	flex-wrap: wrap;
	
}


#tab0_box_1 {
	height:850px;
	width:45%;
	background-color: lightYellow;
	padding:20px;
	font-family: serif;
	margin:5px;
	margin-top:50px;
	float:left;
}

#tab0_box_2 {
	height:850px;
	width:45%;
	background-color: white;
	padding:20px;
	font-family: serif;
	overflow-y: auto;
	margin:5px;
	margin-top:50px;
	float:left;
}


#tab1_settings {
	width:20%;
	height:65px;
	float: left;
	text-align:center;
	font-family:Times New Roman;
	margin:auto;
	padding-bottom:10px;

}

#tab1_settings1,
#tab1_settings2,
#tab1_settings3,
#tab1_settings4,
#tab1_settings5 {
	width:20%;
	height:65px;
	float: left;
	text-align:left;
	font-family:Times New Roman;
	margin:auto;
	padding-bottom:10px;
}

#news {
	margin-top: 20px;
	margin-right:20px;
	height:auto;
	width:45%;
	padding:10px;
	font-family: Times New Roman;
	font-size:14px;
	color:black;
	float:left;
}

#theme	{
	width: 250px;
	font-family: Times New Roman;
	margin:auto;
}

#export_histogram	{
	width: 100%;
	font-family: Times New Roman;
	margin:auto;
}

#export_histogram_output {
	color:green;
	text-align: center;
}

#theme_output,
#output_chunk_text {
	color:red;
}


#sampling_time_output {
	text-align: right;
	width:50%;
	float:right;
	color:red;
	font-size: 18px;
}

#tab0,
#tab1,
#tab2,
#tab3,
#tab4,
#tab5,
#tab6
 {
	float:left;
	text-align:left;
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
}

#polynomial {
	height:25px;
	width:100%;
	float:left;
	padding-top:10px;
	padding-left:4%;
	margin-bottom: 10px;
}


#add {
	margin:auto;
	width: 100%;
}

#exit-button {
	background-color:red;
	border-radius:9px;
	height:35px;
	width:180px;
	margin:20px;
	font-size:14px;
	color:white;
	font-weight:bold;

}

#container_device_list_short {
	margin:20px;
}

#showplot {
	width:96%;
}

#ps_button_box {
	width:100%;
	height:55px;
	float:left;
}

#filename {
	text-align: left;
	font-size:12px;
}


#instruction_div {
	width:33%;
	height:440px;
	background-color: white;
	float:left;
	padding-top: 10px;
}

#instructions {
	font-family:Times New Roman;
	height:410px;
	padding-left:20px;
	padding-right:20px;
	font-size: 16px;
}

#path_text {
	color:gray;
	float:left;
}

#pulse_shape_div {
	width:33%;
	height:440px;
	background-color: white;
	float:left; 
	padding-top: 10px;
}

#distortion_div {
	width:33%;
	height:440px;
	background-color: white;
	float:left;
	padding-top: 10px;
}

#footer {
	width:100%;
	height: auto;
	text-align:center;
	float:left;
}

#footer_tab2 {
	width:80%;
	height: auto;
	float:left;
	margin-top: 75px;
}

#bar_chart_div, 
#bar_chart_div_3d {
	width:95%;
	height:500px;
	padding:5px;
	background-color: white;
	margin-left:auto;
	border:solid 1px black;
	float:left;
}

#counts, #counts-output, #counts_3d {
	font-size:35px;
	color:blue;
	text-align:center;
	font-family:Times New Roman;
	font-weight:bold;
}

#elapsed, #elapsed_3d {
	font-size:35px;
	color:blue;
	text-align:center;
	font-family:Times New Roman;
	font-weight:bold;
}

#t2_filler_div {
	width:4%;
	height:120px;
	float:left;
}

#t2_setting_div, 
#t2_setting_div1, 
#t2_setting_div2, 
#t2_setting_div3, 
#t2_setting_div4, 
#t2_setting_div5, 
#t2_setting_div6, 
#t2_setting_div7, 
#t2_setting_div8, 
#t2_setting_div9 {
	width:10%;
	height:120px;
	padding:none;
	text-align:center;
	color:white;
	float:left;
	margin:none;
}

#start, #start_3d {
	background-color:green;
	border-radius:9px;
	height:35px;
	width:88%;
	margin:10px;
	font-size:14px;
	color:white;
	font-weight:bold;
}

#stop, #stop_3d {
	background-color:purple;
	border-radius:9px;
	height:35px;
	width:88%;
	margin:10px;
	font-size:14px;
	color:white;
	font-weight:bold;
}


#settings{
	color:blue;
	float:left;
	font-size: 16px ;
	font-family:Times New Roman;
	padding:10px;
}

#add {
	width:50%;
}

#count_rate_div {
	width:90%;
	height: 700px;
	margin-left:5%;
	padding:none;
	background-color:white;
	border: solid 1px black;
}

#count_rate_chart {
	width: 98%;
}

#tab6 {
	text-align: center;
	margin:auto;
}

#exit {
	margin:auto;
	text-align: center;
}

#tab6_text_div {
	width: 100%;
	padding:30px;
	margin:auto ;
}

#manual {
	width:900px;
	text-align: justify;
	font-family: Times New Roman;
	font-size: 16px;
	background-color: lightyellow;
	margin: auto;
	padding: 20px;
}

#subfooter {
	width:100%;
	height:auto;
	float:left;
	padding:20px;
}

@media only screen and (max-width: 1340px) {
	
	.dropdown {
		font-family:arial;
		font-size: 10px;
		Width:95%;
		color:black;
	}
	
	.action_button {
		background-color:purple;
		border-radius:6px;
		color:white;
		margin-top:10px;
		font-size: 12px;
		width:80%;
	}
	
	#update_calib_button,
	#notes-warning {
		visibility: hidden;
	}
	
	#tab0_frame {
		flex-direction: row;
		justify-content: center; /* Optional: Center align the items when stacked */
		width:100%;
	  }
	
	#tab0_box_1,
	#tab0_box_2 {
		width: 48%; /* Make both boxes take up 100% width */
		font-size: 12px;
	}
	  
	#first_name,
	#last_name,
	#institution,
	#city,
	#country,
	#email,
	#phone,
	#website,
	#social_url,
	#notes,
	#api_key {
		width:80%;
	}
	
	  
	#tabs {
		background-color:white;
		height: 50px;
		font-family:Times New Roman;
		font-size: 14px;
		width:100%;
		vertical-align: middle
	}  
	
	
	#sampling_time_output {
		text-align: right;
		width:50%;
		float:right;
	}

	
	#selected_device_text {
		width: 200px;
	}
	
	#news {
		height:auto;
		width:45%;
		padding:5px;
		font-family: Times New Roman;
		font-size:12px;
		color:black;
		float:left;
	}
	
	
	#footer_tab2 {
		width:80%;
		height: auto;
		float:left;
		margin-top: 120px;
	}


	#ps_button_box {
		width:100%;
		height:40px;
		float:left;
	}

	#tab1_settings {
		width:20%;
		height:50px;
		font-size:14px;
		float: left;
		text-align:center;
		font-family:Times New Roman;
		margin:auto;
	}
	
	#tab1_settings2 {
		width:20%;
		height:65px;
		font-size:14px;
		float: left;
		text-align:left;
		font-family:Times New Roman;
		margin:auto;
	}

	#instruction_div {
		width:33%;
		height:380px;
		background-color: white;
		float:left;
	}

	
	#instructions {
		font-family:Times New Roman;
		height:370px;
		padding-left:20px;
		padding-right:20px;
		font-size: 10px;
	}

	#pulse_shape_div,
	#distortion_div {
		width: 33%;
		height: 380px;
		background-color:white;
		float:left; 
	}

	#heading {
		width:94%;
		Height:40px;
		font-family:Times New Roman;
		color:black;
		text-align: center;
		float:left;
	}


	#polynomial {
		height:25px;
		width:100%;
		float:left;
		padding-top:10px;
		padding-left:5%;
		font-size:10px;
		font-family:Times New Roman;
	}
	
	#t2_setting_div, 
	#t2_setting_div1, 
	#t2_setting_div2, 
	#t2_setting_div3, 
	#t2_setting_div4, 
	#t2_setting_div5, 
	#t2_setting_div6, 
	#t2_setting_div7, 
	#t2_setting_div8, 
	#t2_setting_div9 {
		font-size: 10px;
	}
	
	
	#t2_filler_div {
		width:0%;
		padding:5px;
		height:120px;
		float:left;
	}
	

	#counts {
		 font-size:30px;
		 color:blue;
			text-align:center;
		 font-family:Times New Roman;
		 font-weight:bold;
	}

	#elapsed {
		 font-size:30px;
		 color:blue;
			text-align:center;
		 font-family:Times New Roman;
		 font-weight:bold;
	}

	#tab3 {
		width:100%;
		height:100%;
		float:left;
		text-align:center;
		padding:10px;
		padding-top:20px;
	}

	#count_rate_div {
		width:90%;
		height: 700px;
		padding:none;
		border: solid 1px black;
	}
	
	#filename, 
	#bin_size, 
	#bins, 
	#max_counts, 
	#filename2,
	#threshold,
	#tolerance,
	#calib_bin_1,
	#calib_bin_2,
	#calib_bin_3,
	#calib_e_1,
	#calib_e_2,
	#calib_e_3 {
		font-size: 8px;
	}

}