
Input {
	text-align: right;
	color:black;
	font-size: 16px;
}
#tab1_settings {
	width:9.4%;
	height:70px;
	float: left;
	background-color:orange;
	text-align:center;
}

#tab1 {
	width:100%;
	height:100%;
	float:left;
	background-color:orange;
}

#get_device_button {
	background-color:black;
	border-radius:9px;
	height:35px;
	width:180px;
	margin:10px;
	font-size:14px;
	color:white;
	font-weight:bold;
}

#container_device_list {
	width:94%;
	margin:20px;
}

#heading {
	width:94%;
	Height:60px;
	font-family:Arial;
	color:black;
	text-align: center;
	float:left;
	background-color:orange;
}

#tabs {
	background-color:white;
}

#showplot {
	width:96%;
	margin:10px;
	padding:10px;
}

#ps_button_box {
	width:94%;
	height:45px;
	background-color: orange;
	float:left;
}

#get_shape {
	background-color:black;
	font-size:18px;
	color:white;
	margin:10px;
	border-radius:9px;
	height:35px;
	width:180px;
	font-size:14px;
	font-weight:bold;
}

#filename {
	text-align: left;
}

#filename2 {
	text-align: left;
}

#footer {
	width:94%;
	height: auto;
	background-color:orange;
	text-align:center;
	float:left;
}

#pulse_shape_div {
	width:47%;
	height:470px;
	background-color: orange;
	float:left;
	text-align:center; 
}

#instruction_div {
	width:47%;
	height:470px;
	background-color: orange;
	float:left;
	text-align:center; 
}

#instructions {
	background-color:white;
	font-family:arial;
	width:90%;
	height:470px;
	padding-left:20px;
	padding-right:20px;
}

#tab2 {
	width:100%;
	height:100%;
	float:left;
	text-align:center;
	background-color:orange;

}

#bar_chart_div {
	width:96%;
	height:600px;
	padding:20px;
	background-color: white;
	margin: 30px;
}

#start {
	background-color:green;
	border-radius:9px;
	height:35px;
	width:180px;
	margin:10px;
	font-size:14px;
	color:white;
	font-weight:bold;
}
#stop {
	visibility: hidden;
	background-color:red;
	border-radius:9px;
	height:35px;
	width:180px;
	margin:10px;
	font-size:14px;
	color:white;
	font-weight:bold;
}

#counts {
	 font-size:50px;
	 color:blue;
	 text-align:center;
	 font-family:Arial;
	 font-weight:bold;
}

#elapsed {
	 font-size:50px;
	 color:blue;
	 text-align:center;
	 font-family:Arial;
	 font-weight:bold;
}

#t2_setting_div {
	width:10%;
	height:120px;
	padding:20px;
	background-color:orange;
	text-align:center;
	color:green;
	float:left;
}

#settings{
	color:black;
	font-weight:bold;
	font-size: 10px ;
	font-family:Arial;
	padding:10px;
}

#tab3 {
	padding:100px;
	background-color:lightgray;
}

#tab3_text_div {
	width: 100%;
	background-color: white;
	padding:30px;
	text-align:center;
}

img {
	width:100%;
	height: auto;
}
#exit-button {
	text-align:center;
	padding:10px;
	background-color:red;
	font-weight:bold;
	width:300;
}