#tabs {
	font-family : Arial;
	font-weight : bold;
}

#logo {
	font-family : Arial;
	font-size   : 180px;
	font-weight : bold;
	color 		: blue;
	

}

#url {
	font-family : Arial;
	font-size   : 18px;
	color       : blue;
}


